:host {
  display: flex;
  text-align: center;
  flex-direction: column;

  .player-area {
    display: flex;
    justify-content: center;

    .player-hand {
      flex: 1 1;
      margin: 20px 0;
    }
  }

  .message, button {
    font-size: 2rem;
  }
}

